<!-- Header -->
<div class="navbar">
  <div class="title"> Movies</div>
</div>

<!-- Search Field -->
<div>
  <input type="text" id="search-field" name="search-field" placeholder="Busque um filme por nome, ano ou genêro">
</div>

<!-- Body  -->

<div class="content-page">


  <!-- Movie Card -->
  <div class="movie-banner">
    <img src="https://bit.ly/fcc-relaxing-cat" class="banner-image">

    <!-- Movie Content -->
    <div class="movie-content">
      <div class="header-banner">
        <p id="banner-header-text">
          <!-- {{ movie.original_title }} -->
        </p>
      </div>
      <!-- Movie description -->
      <div class="movie-date">
        26/03/1995
      </div>
      <div class="movie-description">
        <!-- {{ movie.overview }} -->

      </div>

      <div class="movie-tags-area">
        <div class="movie-tag">
          Aventura
        </div>
        <div class="movie-tag">
          Ação
        </div>

      </div>

    </div>

  </div>
</div>
